title: Leonardo Cotta
description:
baseurl: "" # the subpath of your site
url: "" # the base hostname & protocol

# Build settings
markdown: kramdown
theme: minima
header_pages:
  - good-stuff.md
plugins: []
