<!-- _includes/my-button.html -->
<a href="{{ include.url }}" class="my-button">
    {{ include.text }}
  </a>
  
  <style>
  .my-button {
    display: inline-block;
    padding: 7.5px 15px;
    background-color: #8E4585;
    color: #FFE7C7  !important;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* New font styles */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
  
  .my-button:hover {
    background-color: #c7ffe7;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  </style>